@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  margin: 5% auto;
  height: 100%;
  font-family: "VT323", monospace;
  font-size: larger;
  background-image: url("bg_image.jpg");
  text-align: center;
}
.navbar {
  margin-top: 15%;
}
.center {
  width: 100%;
  background-color: white;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
}

a:link,
a:visited {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
